<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Class.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Topbar"
        tools:targetApi="31">
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Comment_Section"
            android:exported="false" />
        <activity
            android:name=".Search_View"
            android:exported="true" />
        <activity
            android:name=".showhome"
            android:exported="false" />
        <activity
            android:name=".Log_In"
            android:exported="true" />
        <activity
            android:name=".All_Post"
            android:exported="true" />
        <activity
            android:name=".Profile_"
            android:exported="true" />
        <activity
            android:name=".Upload_Post"
            android:exported="true" />
        <activity
            android:name=".Home_Page"
            android:exported="true" />
        <activity
            android:name=".Sign_Up"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>